<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title id="pageTitle">Social Empires</title>
		<link rel="shortcut icon" href="img/icon.gif"/>
		<link rel="icon" type="image/png" href="img/icon.gif"/>
		<link rel="stylesheet" href="css/facebook.css"/>
	</head>
	<body class="ego_wide canvas center_fixed_width_app fbx UIPage_LoggedOut liquid hideBanner Locale_en_US" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); overflow: auto;">
		<center><img src="img/logo.png" style="width: 200px;"/></center>
		<div class="mvl ptm uiInterstitial canvas_error_page uiInterstitialLarge uiBoxWhite">
			<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
				<div class="clearfix uiHeaderTop">
					<div>
						<img src="img/sword.png" height="18px" style="margin-left: 5px;">
						<h2 class="uiHeaderTitle" style="margin-left: 2px; display: inline-block;">Set a password</h2>
					</div>
				</div>
			</div>
			<div class="phl ptm uiInterstitialContent" style="overflow: auto;">
				<br>
				<div style="margin-left:20px; font-size:13px; float: left;">
					<p>Set a password for <b>{{ name }}</b>. You will need it to log in from now on.</p>
					{% if error %}
					<p style="color: #b00; font-weight: bold;">{{ error }}</p>
					{% endif %}
					<form method="post">
						<b>New password</b>
						<br><br>
						<input type="password" name="password" style="height: 23px; min-width: 322px;" required>
						<br><br>
						<b>Confirm password</b>
						<br><br>
						<input type="password" name="confirm" style="height: 23px; min-width: 322px;" required>
						<br><br>
						<div style="float: right;">
							<button type="submit" style="font-size:14px; height: 25px">Set password &amp; play</button>
						</div>
						<br><br>
					</form>
					<p style="font-size:13px;"><a href="/">Back to login</a></p>
				</div>
			</div>
		</div>
	</body>
</html>
